* {
    margin: 0;
}

header {
    height: 10vh;
    padding: 6px;
    background-color: #002791;
    color: red;
    position: sticky;
}
h1 {
    display: inline-block;
    padding: 3px 12px;
    height: 55%;
}

.nav {
    height: 45%;
    justify-content: space-between;
    display: flex;
}

ul {
    padding: 5px;
    color: white;
}

li {
    list-style: none;
    display: inline;
    padding: 2px 8px;
}

a {
    text-decoration: none;
    color: white;
}

#searchbar {
    display: inline ;
    border: 2px solid black;
    border-radius: 10px;
    width: 50%;
    height: 80%;
}

main {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 79vh;
}

.bg {
    justify-content: center;
    margin:0 auto;
    height: 50%;
    width: 76vw;
    border: 5px solid yellow;
}

.chart{
    display: flex;
    justify-content: space-evenly;
}

footer {
    color: orangered;
    background-color: #15003b;
    height: 5vh;
    text-align: center;
    padding: 2vh;
}